LGI/LGI-XSD/nombre.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://tempuri.org/nombre.xsd" elementFormDefault="qualified"
        xmlns:target="http://tempuri.org/nombre.xsd">  
  
  <element name="nombreCompleto">
    <complexType>
      <sequence>
        <element name="nombre" type="string" />
        <element name="primerApellido" type="string" />
        <element name="segundoApellido" type="string" />        
      </sequence>
      <attribute name="titulo" type="string" />
    </complexType>
  </element>

</schema>
